<h1>Cliente</h1>
<div class="row">
    <div class="col-4">
        <mat-form-field class="example-full-width">
            <mat-label>Nombres</mat-label>
            <input matInput placeholder="Nombres" [(ngModel)]="cliente.nombres">
        </mat-form-field>
    </div>
    <div class="col-4">
        <mat-form-field class="example-full-width">
            <mat-label>Apellidos</mat-label>
            <input matInput placeholder="Apellidos" [(ngModel)]="cliente.apellidos">
        </mat-form-field>
    </div>
    <div class="col-4">
        <mat-form-field class="example-full-width">
            <mat-label>Telefono</mat-label>
            <input matInput placeholder="Telefono" [(ngModel)]="cliente.telefono">
        </mat-form-field>
    </div>
    <div class="col-4">
        <mat-form-field class="example-full-width">
            <mat-label>Direccion</mat-label>
            <input matInput placeholder="Direccion" [(ngModel)]="cliente.direccion">
        </mat-form-field>
    </div>
</div>
<mat-dialog-actions align="end">
    <button type="button" mat-dialog-close>Cancel</button>
    <button type="button" cdkFocusInitial (click)="saveCliente()">Guardar</button>
</mat-dialog-actions>