<div>
    <p-button icon="pi pi-file-pdf" styleClass="p-button-rounded p-button-success" (click)="newArticulo()"></p-button>
</div>
<div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="listaArticulos" matSort>

        <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header> nombre </mat-header-cell>
            <mat-cell *matCellDef="let articulo" data-label="{{msg.lbl_tipologia}}"> {{articulo.nombre}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="codigo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> codigo </mat-header-cell>
            <mat-cell *matCellDef="let articulo" data-label="msg.lbl_solicitante"> {{articulo.codigo}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="precioUnitario">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Precio Unitario </mat-header-cell>
            <mat-cell *matCellDef="let articulo" data-label="msg.lbl_monto"> {{articulo.precioUnitario}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{msg.lbl_acciones}} </mat-header-cell>
            <mat-cell *matCellDef="let articulo" data-label="msg.lbl_acciones">
                <!-- <p-button class="btn_table" icon="pi pi-bookmark btn_table" styleClass="p-button-rounded p-button-secondary"></p-button> -->
                <div class="card flex flex-wrap gap-3 justify-content-center">
                    <p-button icon="pi pi-file-pdf" styleClass="p-button-rounded p-button-danger" (click)="deleteArticulo(articulo.id)"></p-button>
                </div>
            </mat-cell>    
            </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let solicitud; columns: displayedColumns;">
        </mat-row>
    </mat-table>
    <mat-paginator 
        [length]="totalElements"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        [pageIndex]="pageIndex"
        (page)="onPageChange($event)"
        showFirstLastButtons
    ></mat-paginator>
</div>